fastapi
uvicorn
httpx
google-api-python-client
google-auth
kafka-python-ng
google-generativeai
pydantic
starlette
requests
google-cloud-storage
google-cloud-firestore
google-cloud-logging
pytest
yfinance
pandas
numpy
pycoingecko
scipy