[submodule "tools/external_sdks/genai-toolbox"]
	path = tools/external_sdks/genai-toolbox
	url = https://github.com/googleapis/genai-toolbox
[submodule "tools/external_sdks/generative-ai"]
	path = tools/external_sdks/generative-ai
	url = https://github.com/GoogleCloudPlatform/generative-ai
[submodule "tools/external_sdks/superpowers-optimized"]
	path = tools/external_sdks/superpowers-optimized
	url = https://github.com/REPOZY/superpowers-optimized.git
[submodule "third_party/kvcached"]
	path = third_party/kvcached
	url = https://github.com/ovg-project/kvcached.git
[submodule "tools/devtools-frontend"]
	path = tools/devtools-frontend
	url = https://github.com/ChromeDevTools/devtools-frontend.git
[submodule "tools/awesome-chrome-devtools"]
	path = tools/awesome-chrome-devtools
	url = https://github.com/ChromeDevTools/awesome-chrome-devtools.git
[submodule "tools/chrome-devtools-mcp"]
	path = tools/chrome-devtools-mcp
	url = https://github.com/ChromeDevTools/chrome-devtools-mcp.git
[submodule "tools/debugger-protocol-viewer"]
	path = tools/debugger-protocol-viewer
	url = https://github.com/ChromeDevTools/debugger-protocol-viewer.git
[submodule "tools/devtools-protocol"]
	path = tools/devtools-protocol
	url = https://github.com/ChromeDevTools/devtools-protocol.git
[submodule "tools/performance-stories"]
	path = tools/performance-stories
	url = https://github.com/ChromeDevTools/performance-stories.git
[submodule "tools/source-map-scopes-codec"]
	path = tools/source-map-scopes-codec
	url = https://github.com/ChromeDevTools/source-map-scopes-codec.git
[submodule "tools/timeline-viewer"]
	path = tools/timeline-viewer
	url = https://github.com/ChromeDevTools/timeline-viewer.git
[submodule "tools/vite-plugin-devtools-json"]
	path = tools/vite-plugin-devtools-json
	url = https://github.com/ChromeDevTools/vite-plugin-devtools-json.git
